/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/poppins-v22-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/poppins-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --red-color:      hsl(0, 78%, 62%);
    --cyan-color:     hsl(180, 62%, 55%);
    --orange-color:   hsl(34, 97%, 64%);
    --blue-color:     hsl(212, 86%, 64%);
    --grey-500-color: hsl(234, 12%, 34%);
    --grey-400-color: hsl(212, 6%, 44%);
    --white-color:    hsl(0, 0%, 100%);

    --sans-serif-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--sans-serif-font);
    font-size: 0.9375rem;
    color: var(--grey-500-color);
    background-color: var(--white-color);
}

.attribution {
    display: none;
}

.hero {
    margin: 3.75rem 0;
    text-align: center;
}

.light {
    font-weight: 200;
}

.hero-title {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.hero-description {
    max-width: 33rem;
    line-height: 1.4;
}

.card {
    border-radius: 0.25rem;
    padding: 1.875rem;
    max-width: 19.687rem;
    min-height: 15.625rem;
    box-shadow: 0 .25rem 1rem var(--grey-400-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card + .card {
    margin-top: 1.875rem;
}

.card-grid {
    display: grid;
    margin-bottom: 2.8125rem;
}

.card:nth-child(1) {
    border-top: 0.25rem solid var(--cyan-color);
}

.card:nth-child(2) {
    border-top: 0.25rem solid var(--red-color);
}

.card:nth-child(3) {
    border-top: 0.25rem solid var(--orange-color);
}

.card:nth-child(4) {
    border-top: 0.25rem solid var(--blue-color);
}

.card-title {
    margin-bottom: .5rem;
}

.card-description {
    font-size: 0.8125rem;
    line-height: 1.6;
}

.card-icon-picture {
    width: 4.125rem;
    aspect-ratio: 1/1;

    align-self: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
}


@media (width >= 50rem) {
    .hero {
        margin-top: 6.25rem;
    }

    .card {
        margin: 1rem;
    }

    .card + .card {
        margin: 1rem;
    }

    .card:nth-child(1) {
        grid-area: 2 / 1 / span 2 / span 1;
    }

    .card:nth-child(2) {
        grid-area: 1 / 2 / span 2 / span 1;
    }

    .card:nth-child(3) {
        grid-area: 3 / 2 / span 2 / span 1;
    }

    .card:nth-child(4) {
        grid-area: 2 / 3 / span 2 / span 1;
    }

    .container {
        margin-bottom: 10rem;
    }
}